
.main{
    -fx-background-image: url(images/back01.png);
    -fx-background-position: center center;
    -fx-background-size: cover;
}

.title{
    -fx-text-fill: #fff;
    -fx-font-size: 31px;
    -fx-font-family: SignPainter;
}

.image{
    -fx-opacity: 0.5;
}

.client_image{
    -fx-opacity: 0.5;
}

.client_image:hover{
    -fx-opacity: 1;
}

.buttonSchedule{
    -fx-background-color : #393E46;
    -fx-background-radius: 0px;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
}

.button{
    -fx-background-color : #666666;
    -fx-background-radius: 10px;
    -fx-opacity: 0.6;
}

.button:hover{
    -fx-opacity: 1;
}


.mailBackgroundPrimary{
    -fx-background-color :  #222832;
}

.mailText{
    -fx-text-fill: #EEEEEE;
    -fx-font-size: 16px;
}

.split-pane > .split-pane-divider {
    -fx-padding: 0 0.30em 0 0.30em;
    -fx-background-color :  #222832;
}

.list-view {
    -fx-control-inner-background: #393E46 ;
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 60%);
    -fx-text-fill: #EEEEEE;
    -fx-background-radius: 5px;
}

/* pseudo Classe dei text input */
.text-input:error {
    -fx-text-fill: white;
    -fx-background-color: #961010;
}

.text-area {
    -fx-control-inner-background: #393E46;
    -fx-text-fill: #EEEEEE;
}

.mailButton{
    -fx-label-padding: 0 15 0 15;
    -fx-margin: 10px;
    -fx-font-size: 17px;
}

.normalButton{

    -fx-background-color :  #EEEEEE;
    -fx-text-fill: #222832;
}

.deleteButton{
    -fx-background-color :   #802944;
    -fx-text-fill:  #EEEEEE;
}

.popup {
    -fx-background-color: #2e5573;
    -fx-background-radius: 12px;
    -fx-padding: 10;
    -fx-border-color: #000000;
    -fx-border-width: 2;
    -fx-font-size: 16;
    -fx-text-fill:  #EEEEEE;
    -fx-border-radius: 12px;
}